appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
click==6.7
decorator==4.3.0
dnspython==1.15.0
enum34==1.1.6
eventlet==0.24.1
Flask==1.0.2
Flask-Login==0.4.1
Flask-SocketIO==3.0.2
greenlet==0.4.15
ipython==5.0.0
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
monotonic==1.5
pathlib2==2.3.2
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==1.0.15
ptyprocess==0.6.0
Pygments==2.2.0
pypinyin==0.33.1
python-engineio==2.2.0
python-socketio==2.0.0
scandir==1.9.0
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
typing==3.6.6
wcwidth==0.1.7
Werkzeug==0.14.1
